.lead__main-illustration {
    margin: 0 auto;
    margin-top: 64px;
}

@media screen and (max-width: 1279px) {
    .lead__main-illustration {
        margin-top: 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__main-illustration {
        margin-top: 40px;
    }
}